In [45]:
import pandas as pd
import numpy as np
import datetime
df1=pd.read_excel("/content/202107_Sale_All.xlsx")

1. Chọn các cột thông tin cần thiết phục vụ báo cáo phân tích

In [76]:
select_column = ['Mã hàng','Tên hàng','Ngày','Số phiếu','Lý do','Số lượng','Đơn giá','Đơn giá sau thuế','Thuế suất','Chiết khấu($)','Thành tiền','Thành tiền trước thuế cộng chiết khẩu','Nhân viên','Mã NV','Kho','Khách hàng','Mã KH','Chi nhánh','Thuế','Hình thức TT','Hạng thẻ','CK KHTT(%)','CK(%)','Doanh thu','Nhóm C1','Nhóm C2','Nhóm C3']
df2=df1[select_column]

2. Kiểm tra định dạng dữ liệu, đổi lại định dạng đúng

In [77]:
#df2.head()
df2.info()
df2['Kho']=df2['Kho'].astype('object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60869 entries, 0 to 60868
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Mã hàng                                60869 non-null  object
 1   Tên hàng                               60869 non-null  object
 2   Ngày                                   60869 non-null  datetime64[ns]
 3   Số phiếu                               60869 non-null  object
 4   Lý do                                  60869 non-null  object
 5   Số lượng                               60869 non-null  int64
 6   Đơn giá                                60696 non-null  float64
 7   Đơn giá sau thuế                       60696 non-null  float64
 8   Thuế suất                              60869 non-null  float64
 9   Chiết khấu($)                          60869 non-null  float64
 10  Thành tiền                             60869 non-null  float64
 11  Thành tiền trước thuế cộng chiết khẩu  60696 non-null  float64
 12  Nhân viên                              60869 non-null  object
 13  Mã NV                                  60869 non-null  object
 14  Kho                                    60869 non-null  float64
 15  Khách hàng                             60869 non-null  object
 16  Mã KH                                  60869 non-null  object
 17  Chi nhánh                              60869 non-null  object
 18  Thuế                                   60869 non-null  float64
 19  Hình thức TT                           60869 non-null  object
 20  Hạng thẻ                               58494 non-null  object
 21  CK KHTT(%)                             58494 non-null  float64
 22  CK(%)                                  60869 non-null  float64
 23  Doanh thu                              60696 non-null  float64
 24  Nhóm C1                                60869 non-null  object
 25  Nhóm C2                                60869 non-null  object
 26  Nhóm C3                                60869 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(1), object(14)
memory usage: 12.5+ MB

<ipython-input-77-f7c1e13a78d4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Kho']=df2['Kho'].astype('object')

3. Thay các giá trị null cột CK KHTT(%) và cột Hạng thẻ

In [79]:
df2['CK KHTT(%)'].fillna(value=0,inplace=True)
df2['Hạng thẻ'].fillna('Khách hàng mới',inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60869 entries, 0 to 60868
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Mã hàng                                60869 non-null  object
 1   Tên hàng                               60869 non-null  object
 2   Ngày                                   60869 non-null  datetime64[ns]
 3   Số phiếu                               60869 non-null  object
 4   Lý do                                  60869 non-null  object
 5   Số lượng                               60869 non-null  int64
 6   Đơn giá                                60696 non-null  float64
 7   Đơn giá sau thuế                       60696 non-null  float64
 8   Thuế suất                              60869 non-null  float64
 9   Chiết khấu($)                          60869 non-null  float64
 10  Thành tiền                             60869 non-null  float64
 11  Thành tiền trước thuế cộng chiết khẩu  60696 non-null  float64
 12  Nhân viên                              60869 non-null  object
 13  Mã NV                                  60869 non-null  object
 14  Kho                                    60869 non-null  object
 15  Khách hàng                             60869 non-null  object
 16  Mã KH                                  60869 non-null  object
 17  Chi nhánh                              60869 non-null  object
 18  Thuế                                   60869 non-null  float64
 19  Hình thức TT                           60869 non-null  object
 20  Hạng thẻ                               60869 non-null  object
 21  CK KHTT(%)                             60869 non-null  float64
 22  CK(%)                                  60869 non-null  float64
 23  Doanh thu                              60696 non-null  float64
 24  Nhóm C1                                60869 non-null  object
 25  Nhóm C2                                60869 non-null  object
 26  Nhóm C3                                60869 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(1), object(15)
memory usage: 12.5+ MB

<ipython-input-79-050e313d2c85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['CK KHTT(%)'].fillna(value=0,inplace=True)
<ipython-input-79-050e313d2c85>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Hạng thẻ'].fillna('Khách hàng mới',inplace=True)

4. Tách cột chi nhánh

In [80]:
df2[['Store','Store 1']]=df2['Chi nhánh'].str.split('#',expand=True)
df2.drop(columns=['Store 1','Chi nhánh'],inplace=True)
df2

<ipython-input-80-1536c169a516>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Store','Store 1']]=df2['Chi nhánh'].str.split('#',expand=True)
<ipython-input-80-1536c169a516>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Store','Store 1']]=df2['Chi nhánh'].str.split('#',expand=True)
<ipython-input-80-1536c169a516>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['Store 1','Chi nhánh'],inplace=True)

,Mã hàng,Tên hàng,Ngày,Số phiếu,Lý do,Số lượng,Đơn giá,Đơn giá sau thuế,Thuế suất,Chiết khấu($),...,Thuế,Hình thức TT,Hạng thẻ,CK KHTT(%),CK(%),Doanh thu,Nhóm C1,Nhóm C2,Nhóm C3,Store
0,4901872073696,Sữa Chống Nắng Bảo Vệ Hoàn Hảo Anessa Perfect ...,2021-07-28 12:05:39.040,PCTAA081029,XBA,1,595000.0000,595000.00000,0.0,59500.0000,...,0.0000,6. Tiền mặt,Thẻ kim cương,10.0,10.0,595000.0000,DÀNH CHO GIA ĐÌNH,"MỸ PHẨM, HÓA PHẨM, GIẤY VÀ BÔNG",Mỹ phẩm,PCT
1,QT38505570280,Giấy vệ sinh cao cấp Corelex 6 cuộn 65m,2021-07-16 18:13:06.080,PCTAA079701,XBA,1,0.0000,0.00000,10.0,0.0000,...,0.0000,6. Tiền mặt,Thẻ vàng,5.0,0.0,0.0000,DÀNH CHO GIA ĐÌNH,"MỸ PHẨM, HÓA PHẨM, GIẤY VÀ BÔNG","Mỹ phẩm, hóa phẩm, giấy và bông Promotion",PCT
2,QT38505570280,Giấy vệ sinh cao cấp Corelex 6 cuộn 65m,2021-07-14 15:08:44.540,PCTAA079115,XBA,1,0.0000,0.00000,10.0,0.0000,...,0.0000,6. Tiền mặt,Thẻ kim cương,10.0,0.0,0.0000,DÀNH CHO GIA ĐÌNH,"MỸ PHẨM, HÓA PHẨM, GIẤY VÀ BÔNG","Mỹ phẩm, hóa phẩm, giấy và bông Promotion",PCT
3,4589661878174,Áo Iwashita sơ sinh ngắn kẻ hồng,2021-07-17 21:29:08.833,PCTAA079968,XBA,1,286363.6364,315000.00004,10.0,85909.0909,...,20045.4546,3. Thanh toán qua thẻ,Chưa lên thẻ,0.0,30.0,286363.6364,DÀNH CHO BÉ,QUẦN ÁO CHO BÉ,Quần áo sơ sinh,PCT
4,4589661878365,Bao tay Iwashita hình gấu,2021-07-23 18:21:31.113,JISAA008465,XBA,1,113636.3636,124999.99996,10.0,34090.9091,...,7954.5455,6. Tiền mặt,Thẻ bạc,2.0,30.0,113636.3636,DÀNH CHO BÉ,"GIẦY DÉP, PHỤ KIỆN CHO BÉ","Giầy dép, phụ kiện sơ sinh",JIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60864,8938510206280,Dầu tràm Wonmom,2021-07-17 12:22:54.527,LGIAA035793,XBA,2,81818.1818,89999.99998,10.0,49090.9090,...,11454.5455,6. Tiền mặt,Thẻ vàng,5.0,30.0,163636.3636,DÀNH CHO BÉ,CHĂM SÓC SỨC KHỎE VÀ BẢO VỆ CHO BÉ,Chăm sóc sức khỏe,LGI
60865,8938510206105,Thảo mộc xông tắm sau sinh Wonmom,2021-07-28 14:00:46.327,THNAA054348,Online Omni,1,54545.4545,59999.99995,10.0,16363.6364,...,3818.1818,6. Tiền mặt,Chưa lên thẻ,0.0,30.0,54545.4545,DÀNH CHO GIA ĐÌNH,"MỸ PHẨM, HÓA PHẨM, GIẤY VÀ BÔNG",Mỹ phẩm,THN
60866,8938510206433,Son dưỡng Wonmom cho mẹ bầu 5g,2021-07-21 15:08:19.493,JISAA008405,XBA,1,136363.6364,150000.00004,10.0,0.0000,...,13636.3636,6. Tiền mặt,Thẻ bạc,2.0,0.0,136363.6364,DÀNH CHO MẸ,MỸ PHẨM CHO MẸ,Mỹ phẩm cho mẹ bầu,JIS
60867,8938510206082,Sữa rửa mặt hữu cơ Wonmom,2021-07-10 14:33:18.557,THNAA052229,Online Omni,1,190909.0909,209999.99999,10.0,19090.9091,...,17181.8182,6. Tiền mặt,Chưa lên thẻ,0.0,10.0,190909.0909,DÀNH CHO GIA ĐÌNH,"MỸ PHẨM, HÓA PHẨM, GIẤY VÀ BÔNG",Mỹ phẩm,THN
60868,8938510206426,Sữa tắm Wonmom cho mẹ bầu 250ml,2021-07-14 11:15:20.830,PCTAA079053,XBA,1,163636.3636,179999.99996,10.0,16363.6363,...,14727.2727,6. Tiền mặt,Thẻ kim cương,10.0,10.0,163636.3636,DÀNH CHO MẸ,MỸ PHẨM CHO MẸ,Mỹ phẩm cho mẹ bầu,PCT

5.   Split cột Ngày

In [81]:
df2['Ngày bán hàng'] = pd.to_datetime(df2['Ngày']).dt.date
df2['Giờ bán hàng'] = pd.to_datetime(df2['Ngày']).dt.time.apply(lambda x: x.replace(microsecond=0))
df2.drop(columns=['Ngày'],inplace = True)

<ipython-input-81-b6352cf5152c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ngày bán hàng'] = pd.to_datetime(df2['Ngày']).dt.date
<ipython-input-81-b6352cf5152c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Giờ bán hàng'] = pd.to_datetime(df2['Ngày']).dt.time.apply(lambda x: x.replace(microsecond=0))
<ipython-input-81-b6352cf5152c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['Ngày'],inplace = True)

In [57]:
df2['Ngày bán hàng'] = df2['Ngày bán hàng'].astype('datetime64[ns]')
df2.info()

<ipython-input-57-86a7df17533c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Ngày bán hàng'] = df2['Ngày bán hàng'].astype('datetime64[ns]')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60869 entries, 0 to 60868
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Mã hàng                                60869 non-null  object
 1   Tên hàng                               60869 non-null  object
 2   Ngày                                   60869 non-null  datetime64[ns]
 3   Số phiếu                               60869 non-null  object
 4   Lý do                                  60869 non-null  object
 5   Số lượng                               60869 non-null  int64
 6   Đơn giá                                60696 non-null  float64
 7   Đơn giá sau thuế                       60696 non-null  float64
 8   Thuế suất                              60869 non-null  float64
 9   ĐVT                                    60353 non-null  object
 10  Chiết khấu($)                          60869 non-null  float64
 11  Thành tiền                             60869 non-null  float64
 12  Thành tiền trước thuế cộng chiết khẩu  60696 non-null  float64
 13  Nhân viên                              60869 non-null  object
 14  Mã NV                                  60869 non-null  object
 15  Kho                                    60869 non-null  object
 16  Khách hàng                             60869 non-null  object
 17  Mã KH                                  60869 non-null  object
 18  Thuế                                   60869 non-null  float64
 19  Hình thức TT                           60869 non-null  object
 20  Hạng thẻ                               60869 non-null  object
 21  CK KHTT(%)                             60869 non-null  float64
 22  CK(%)                                  60869 non-null  float64
 23  Doanh thu                              60696 non-null  float64
 24  Nhóm C1                                60869 non-null  object
 25  Nhóm C2                                60869 non-null  object
 26  Nhóm C3                                60869 non-null  object
 27  Store                                  60869 non-null  object
 28  Ngày bán hàng                          60869 non-null  datetime64[ns]
 29  Giờ bán hàng                           60869 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(1), object(17)
memory usage: 13.9+ MB



6.   Kho = 8.04 thì thay dữ liệu ở cột store từ ONL thành ONL HCM

In [82]:
#df2.head()
df2.loc[df2['Kho'] == 8.04, 'Store'] = 'ONL HCM'
df2[df2['Kho'] == 8.04].head()

,Mã hàng,Tên hàng,Số phiếu,Lý do,Số lượng,Đơn giá,Đơn giá sau thuế,Thuế suất,Chiết khấu($),Thành tiền,...,Hạng thẻ,CK KHTT(%),CK(%),Doanh thu,Nhóm C1,Nhóm C2,Nhóm C3,Store,Ngày bán hàng,Giờ bán hàng
160,4973512258206,Nước rửa bình Arau baby túi 450ml,ONLAA003679,Online Omni,2,150000.0000,165000.00000,10.0,150000.0000,165000.0000,...,Khách hàng mới,0.0,50.0000,3.000000e+05,DÀNH CHO BÉ,VỆ SINH VÀ TẮM CHO BÉ,Hóa phẩm,ONL HCM,2021-07-15,11:18:14
227,4973512258787,Sữa tắm dưỡng ẩm Arau baby 450ml,ONLAA003431,Online Omni,1,247272.7273,272000.00003,10.0,0.0000,272000.0000,...,Khách hàng mới,0.0,0.0000,2.472727e+05,DÀNH CHO BÉ,VỆ SINH VÀ TẮM CHO BÉ,Mỹ phẩm,ONL HCM,2021-07-05,15:27:18
266,4973512258756,Sữa tắm trẻ em Arau baby 450ml,ONLAA003792,BB,5,204545.4545,224999.99995,10.0,302727.2727,791999.9998,...,Thẻ kim cương,10.0,29.6000,1.022727e+06,DÀNH CHO BÉ,VỆ SINH VÀ TẮM CHO BÉ,Mỹ phẩm,ONL HCM,2021-07-19,15:14:27
315,4973512258763,Sữa tắm trẻ em Arau baby túi 400ml,ONLAA003792,BB,8,136363.6364,150000.00004,10.0,322909.0910,844800.0002,...,Thẻ kim cương,10.0,29.6000,1.090909e+06,DÀNH CHO BÉ,VỆ SINH VÀ TẮM CHO BÉ,Mỹ phẩm,ONL HCM,2021-07-19,15:14:27
476,4973512258732,Nước giặt Arau Baby dạng bình 800ml,ONLAA003595,BB,6,213636.3636,234999.99996,10.0,379416.0000,992642.3998,...,Thẻ kim cương,10.0,29.5998,1.281818e+06,DÀNH CHO BÉ,VỆ SINH VÀ TẮM CHO BÉ,Hóa phẩm,ONL HCM,2021-07-17,14:26:58

In [83]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60869 entries, 0 to 60868
Data columns (total 28 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Mã hàng                                60869 non-null  object
 1   Tên hàng                               60869 non-null  object
 2   Số phiếu                               60869 non-null  object
 3   Lý do                                  60869 non-null  object
 4   Số lượng                               60869 non-null  int64
 5   Đơn giá                                60696 non-null  float64
 6   Đơn giá sau thuế                       60696 non-null  float64
 7   Thuế suất                              60869 non-null  float64
 8   Chiết khấu($)                          60869 non-null  float64
 9   Thành tiền                             60869 non-null  float64
 10  Thành tiền trước thuế cộng chiết khẩu  60696 non-null  float64
 11  Nhân viên                              60869 non-null  object
 12  Mã NV                                  60869 non-null  object
 13  Kho                                    60869 non-null  object
 14  Khách hàng                             60869 non-null  object
 15  Mã KH                                  60869 non-null  object
 16  Thuế                                   60869 non-null  float64
 17  Hình thức TT                           60869 non-null  object
 18  Hạng thẻ                               60869 non-null  object
 19  CK KHTT(%)                             60869 non-null  float64
 20  CK(%)                                  60869 non-null  float64
 21  Doanh thu                              60696 non-null  float64
 22  Nhóm C1                                60869 non-null  object
 23  Nhóm C2                                60869 non-null  object
 24  Nhóm C3                                60869 non-null  object
 25  Store                                  60869 non-null  object
 26  Ngày bán hàng                          60869 non-null  object
 27  Giờ bán hàng                           60869 non-null  object
dtypes: float64(10), int64(1), object(17)
memory usage: 13.0+ MB

7. Lưu file

In [84]:
file = df2.to_excel('Cleaned_data.xlsx')